/* work sens font */
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Montserrat:wght@400;700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;800&display=swap');

  *{
    font-family: 'Work Sans', sans-serif;
  }
  /* Header style */
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  .nav-title{
    color:#131313;
    font-size: 45px;
    font-weight: 700;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav > ul{
    display: flex;

  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
  }
  nav li  a{
    text-decoration: none;
    color: #424242;
  }
/* banner style */
.banner-contant{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  color:  #131313;
  font-size: 64px;
  font-weight: 700;
}
.banner-description{
  color: var(--dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}
.btn-primary{
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  background: #FF900E;
  cursor: pointer;
  border: 0;
}
.banner img{
  width: 100%;
  margin: 20px;
}
/* respossive media quare */
@media screen and (max-width:576px) {
 header{
  padding: 20px;
 } 
 nav{
  flex-direction: column;
 }
}
@media screen and (min-width:577px) and (max-width:992px) {
  header{
    padding: 50px;
  }
}
/* Mains style */
main{
  max-width: 1440px;
  margin: 0 auto;
}
/* teams style */
.teams-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1.5rem;
}
.teams-contant{
  padding-right:70px ;
  padding-left: 70px;
}
.teams-title{
  font-size: 2.8rem;

}
.teams-title .quick-list{
 counter: #727272;
 font-weight: 500;
}
.teams-title .of-our{
 color: #131313;
 font-weight: 700;
}
.teams-title .text-features{
 color: #FF900E;
 font-weight: 700;
}